<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="frsBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Anonymous" realm="" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://staffappsdv.nyp.edu.sg:8443/WSfrs_devtest/frs" binding="customBinding" bindingConfiguration="frsBinding" contract="FRSWS.WSfrs" name="frs" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="FacilityReservationKioskEntities" connectionString="metadata=res://*/ReadFacilityModel.csdl|res://*/ReadFacilityModel.ssdl|res://*/ReadFacilityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=L33525;initial catalog=FacilityReservationKiosk;user id=FRS;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--  Hardcode the department to SIT-->
  <appSettings>
    <add key="mySIT" value="SIT" />
  </appSettings>
</configuration>